<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EC RADIO</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="cat">
    <ion-segment-button value="home">
      EC Radio
    </ion-segment-button>
    <ion-segment-button value="videos">
      Videos
    </ion-segment-button>
    <ion-segment-button value="podcasts">
      Podcasts
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content padding>


  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'home'">
      <p>home page info for ecradio</p>
    </ion-list>
  </div>

    <div [ngSwitch]="cat">
      <ion-list *ngSwitchCase="'videos'"> 
          <ion-item *ngFor="let item of Ecvideos.items"> 
            
            <ion-thumbnail item-start>
            <img src="{{item.snippet.thumbnails.default.url}}">
            </ion-thumbnail>
             <h2>{{item.snippet.title}}</h2>
            <p text-justify>{{item.snippet.description}}</p>
            <h2>{{item.snippet.resourceId.videoId}}</h2>
            
          </ion-item>
        </ion-list>
    </div>

    <div [ngSwitch]="cat">
      <ion-list *ngSwitchCase="'podcasts'">
        <ion-item *ngFor="let Ecpodcast of Ecpodcasts">
          <ion-thumbnail item-start><img src="{{Ecpodcast.images.thumb}}"></ion-thumbnail>
          <h2>{{Ecpodcast.title}}</h2>
          <p>{{Ecpodcast.description}}</p>
          <audio controls>
              <source src="{{Ecpodcast.audio_url}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          

        </ion-item>
      </ion-list>
    </div>

</ion-content>