// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

h1,h2,h3,h4,h5,h6{
    color: map-get($colors, primary);
}

.showBtn {
    display:block;
    background: transparent;
  }

.toolbar-title.toolbar-title-sm, 
.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { color: map-get($colors, primary); }

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: map-get($colors, primary);
    background-color: transparent;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
color: map-get($colors, primary);
background-color: transparent;
}

.list-ios > .item-block:first-child {
border-top: 0.55px solid map-get($colors, primary);
}

.item-ios {
padding-left: 16px;
position: relative;
font-size: 1.7rem;
color: solid map-get($colors, primary);
background-color: rgb(36, 36, 36);
border-radius: 0px;
transition: background-color 200ms linear;
}

.list-ios .item-block .item-inner {
    border-bottom: 0.55px solid map-get($colors, primary);
  }

  .list-md .item-block .item-inner {
    border-bottom: 0.55px solid map-get($colors, primary);
  }

.item { color: map-get($colors, primary); }
 .item-inner{ border-bottom: 1px solid map-get($colors, primary); }